<div class="container mt-5">
    <header class="mb-5">
        <h2>Laboratorio Analisi</h2>
        <hr>
    </header>

        <div class="row">
            <div class="col-12">
                <section class="mb-5">

                <p>Il laboratorio analisi cliniche AB è accreditato in fascia B dalla Regione Jacuzia e garantisce i massimi parametri richiesti. Gli esami del sangue possono essere eseguiti in convenzione con il SSN, prenotando online, oppure in maniera privata, contattando il nostro centralino.</p>
                <img src="../../assets/lab_analisi.jpg" alt="laboratorio analisi" width="100%" height="auto">
                </section>

                <section class="mb-5">
                    Le branche specialistiche coperte dal nostro Laboratorio sono: 
                    <ul> 
                        <li *ngFor="let b of branche">{{b}}</li>
                    </ul>
                </section>

                <section class="mb-5">
                    <h3>Check Up Preventivo</h3>
                    <p>
                        Effettuare periodicamente un Check Up è un modo efficace per salvaguardare il proprio benessere e la propria salute. 
                        Adottare uno stile di vita salutare e affidarsi alla diagnosi precoce attraverso esami di laboratorio rappresenta 
                        il modo più corretto e semplice per proteggere salute e benessere nel tempo.
                        IRM ha predisposto una serie di pacchetti di prevenzione che permettono di tenere sotto controllo lo stato di salute, 
                        offrendo diversi programmi personalizzati secondo il sesso e secondo l'età: comprendono esami non invasivi che consentono di verificare 
                        i fattori di rischio per malattie cardiovascolari e metaboliche, di individuare segni e sintomi precoci legati a queste patologie e di 
                        valutare lo stato di salute globale del Paziente.
                        Le patologie asintomatiche sono numerose ed eseguire esami del sangue periodici è utile per controllare il corretto funzionamento 
                        degli organi interni ed evidenziare l'eventuale presenza di infezioni altrimenti non rilevabili. 
                        Si tratta quindi non soltanto di un programma di prevenzione, ma di una importante e buona abitudine per prendersi 
                        cura di sé e della propria salute.
                    </p>

                </section>
                <div class="text-center">
                    <button class="btn btn-info text-white" routerLink="/prenotazioni">Prenota il tuo Esame</button>
                </div>

            </div>
        </div>





</div>


        