<div class="container mt-5">
    <h1>Laboratorio Analisi</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quae adipisci iusto consectetur repellat? Vel commodi
        tempore perspiciatis esse, corrupti maiores enim doloremque voluptas quos ab aperiam cupiditate dignissimos
        rerum.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex reiciendis modi expedita molestias et nulla
        nesciunt! Dignissimos voluptatum mollitia alias! Suscipit harum quaerat magnam id rerum vero assumenda
        voluptatem rem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum assumenda qui in, accusantium
        perspiciatis facere obcaecati ipsum exercitationem eligendi quos enim quaerat ex iste voluptatum maiores
        temporibus eaque! Modi, aut?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, facere, animi
        quasi ut, porro magnam hic totam maxime velit beatae sequi possimus libero ullam. Earum nobis sed iste alias
        distinctio.
    </p>
    <img src="../../assets/home3.jpg" alt="" width="900px" height="400px"><br>
    <button class="btn btn-info mt-3 text-white" routerLink="/prenotazioni">Prenota un esame</button>
</div>
<br><br><br><br><br><br><br>
