<div class="container mt-5">
    <h2>Visite Specialistiche</h2>
    <hr>

    <div class="row">
        <div class="col-12">
            <p>Il Poliambulatorio AB è accreditato in fascia A dalla Regione Kamchatka e risponde quindi ai massimi requisiti previsti per il settore. </p>
            <img src="../../assets/visite_spec.jpg" alt="visite specialistiche" width="100%" height="auto">


            <p class="mt-5">
                L’attività ambulatoriale prevede un’ampia gamma di visite specialistiche ed esami strumentali eseguiti da un team di Medici Specialisti
                scelti in base a criteri di professionalità ed esperienza.
            </p>

            <div>
                <p class="mb-3">Le branche specialistiche sono le seguenti:</p>

                <mat-accordion>
                    <mat-expansion-panel *ngFor="let v of visite_specialistiche" hideToggle>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            {{v.nome}}
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p style="white-space:pre-line;">{{v.descr}}</p>

                        <mat-action-row>
                            <button class="btn btn-info text-white mx-auto" routerLink="/prenotazioni">Prenota una visita</button>
                        </mat-action-row>
                    </mat-expansion-panel>

                </mat-accordion>

            </div>


        </div>
    </div>

</div>
<br><br><br><br><br><br><br>
