<div class="container">
    <section class="sezione-immagini">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-lg-6 immagine" style="background-image: url('https://images.unsplash.com/photo-1457257495536-67f31bc9773d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=623&q=80');"></div>
                <div  id="film2" class="col-lg-6 testo">
                    <h2>Un modello sanitario innovativo</h2>
                    <p>
                        Il nostro Ambulatorio Bello offre servizi specialistici completi, proponendo un modello di sanità che concilia qualità 
                        elevata e tariffe accessibili. 
                    </p>
                       
                    <p> Fondato nel 2021, Ambulatorio Bello nasce per rispondere a un bisogno crescente di una larga parte di popolazione: 
                        una medicina specialistica di alto livello, economicamente accessibile, che copra anche le aree scoperte dal SSN - 
                        come per esempio l’odontoiatria, la psicoterapia, la logopedia e altre - dove l’offerta è quasi esclusivamente privata e 
                        ha prezzi mediamente alti.
                    </p>
                    <p>
                        Un obiettivo altrettanto importante è rispondere anche ai bisogni relazionali della persona, 
                        favorendo l'instaurarsi di un buon rapporto medico-paziente fondato sull'ascolto e sulla fiducia. 
                        Per questo assicuriamo tempi di visita adeguati per una buona diagnostica e la possibilità di scegliere lo specialista 
                        per mantenere la continuità terapeutica.
                    </p>
                    <p>
                        Il nostro team di professionisti, dai medici fino all'accettazione, è dedicato a offrire la migliore esperienza di cura.
                    </p>
                   
                </div>
            </div>


    
            

            <div class="container-fluid">

            
            <div class="row cards">
                <div class="col-12" style="text-align: center;">
                    <h2>Chi Siamo</h2>
                </div>
                </div>

                <div class="row one">

                <div class="col-lg-4 d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1559839734-2b71ea197ec2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Norma Rossi</h5>
                      <p class="card-text">Allergologa</p>
                    </div>
                  </div>                  
              </div>
              <div class="col-lg-4 d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1612349317150-e413f6a5b16d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1350&q=80" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Zahid Raja</h5>
                      <p class="card-text">Andrologo</p>
                    </div>
                  </div>                  
              </div>
              <div class="col-lg-4 d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1607746882042-944635dfe10e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Simona Conte</h5>
                      <p class="card-text">Psicoterapeuta</p>
                    </div>
                  </div>                  
              </div>
              </div>


              <div class="row"> 
              <div class="col-12">
                  <br>
              </div>
            </div>


            <div class="row one">   
            <div class="col-lg-4 d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1612708771321-1cfe5ce5e106?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Marco Gallo - Carla Mori</h5>
                      <p class="card-text">Odontoiatra</p>
                    </div>
                  </div>                  
              </div>
              <div class="col-lg-4 d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://cdn.pixabay.com/photo/2016/01/19/15/05/doctor-1149149_960_720.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Giorgio Motta</h5>
                      <p class="card-text">Chirurgo</p>
                    </div>

                  </div>                  
              </div>
              <div class="col-lg-4 d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://images.pexels.com/photos/4173239/pexels-photo-4173239.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Gianni Vecchio</h5>
                      <p class="card-text">Oncologo</p>
                    </div>
                  </div>                  
              </div>

            </div>
            </div>
            </div>


            <div class="container" style="background-color: #e1f5fe;">
            
              <div class="row book">
                <div class="col-12">
                  <h2 id="title2">Prenota la tua visita</h2>
                  </div>
                  <div class="col-12">
                    <p style="font-size: large;">Ti ricontatteremo in tempi rapidi, con professionalità e competenza al tuo servizio, per concordare il giorno e l'orario della visita.</p>
                    </div>
                    <div class="col-12">
                    <button type="button" class="btn btn-primary" (click)="goToBooking()">PRENOTA ORA</button>
                    </div>
                </div>
            
            </div>



            
      
