<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
      <a class="navbar-brand text-info" href="#">
        <img src="../../assets/logo.png" alt="" width="100" height="62">
        Ambulatorio Bello
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="serviziDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Servizi</a>
            <ul class="dropdown-menu" aria-labelledby="serviziDropdown">
                <li><a class="dropdown-item" routerLink="visite-specialistiche">Visite Specialistiche</a></li>
                <li><a class="dropdown-item" routerLink="laboratorio-analisi">Laboratorio Analisi</a></li>
                <!--<li><hr class="dropdown-divider"></li>-->
                <li><a class="dropdown-item" routerLink="medicina-del-lavoro">Medicina del Lavoro</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="prenotazioni">Prenotazioni</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Chi Siamo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contatti</a>
          </li>

          <!-- pannello admin -->
          <li *ngIf="role === 'admin'" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Amministrazione</a>
            <ul class="dropdown-menu" aria-labelledby="adminDropdown">
                <li><a class="dropdown-item" routerLink="elenco-prenotazioni">Elenco Prenotazioni</a></li>
                <li><a class="dropdown-item" routerLink="richieste-medico-lavoro">Richieste Medicina del Lavoro</a></li>
                <!--<li><hr class="dropdown-divider"></li>-->
            </ul>
          </li>
        </ul>

        <ul class="navbar-nav">
          <li *ngIf="role" class="nav-item">
            <a role="button" class="nav-link" (click)="role = undefined">Logout</a>
          </li>
          <li *ngIf="!role" class="nav-item">
            <a class="nav-link" routerLink="login">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>