<div class="container mb-5">
    <div class="row">
  
      <div class="col-lg-5 mx-auto my-3">
        <h4 class="my-5 px-5 text-center">Accedi</h4>
        <form (ngSubmit)="checkUser()">
          <div class="mb-3 mt-5 px-md-5">
            <label for="inputmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputmail" name="inputmail" [(ngModel)]="email">
          </div>
          <div class="mb-3 px-md-5">
            <label for="inputpwd" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputpwd" name="inputpwd" [(ngModel)]="password">
          </div>
          <div *ngIf="userNotFound" class="alert alert-danger w-75 text-center" role="alert">
            Email o password errati!
          </div>
          <div class="d-grid mb-3 px-md-5 mt-5 text-center">
            <button type="submit" class="btn btn-primary btn-lg">Accedi</button>
          </div>
         
        </form>
      </div>
      <!--
      <div class="col-4 text-center my-auto mx-auto">
        <p class="lead">Non sei ancora registrato? <a [routerLink]="['/user','sign-up']">Registrati subito</a> in modo da
          avere accesso a tutti i nostri servizi!</p>
  
      </div>
  -->
    </div>
  </div>
  <br><br><br><br><br><br>
