<div class="container my-5">
    <header class="mb-5">
        <h1>Prenota la tua visita in maniera facile e veloce
        </h1>
        <p>Puoi prenotare una visita o un esame utilizzando uno di questi canali: form web, mail o telefono.</p>
    </header>

    <section class="mb-5">
        <h3>Prenota tramite il Servizio Sanitario Nazionale</h3>
        <hr>
        <p>Compila l'apposito modulo se desideri prenotare una visita o un esame in convenzione con il Sistema Sanitario
            Nazionale. Sarai richiamato in tempi rapidi, con professionalità e competenza al tuo servizio, per concordare il
            giorno e l'orario della visita.</p>
        <button class="btn btn-info text-white" routerLink="/prenotazioni/ssn">Prenota Ora</button>
    </section>

    <section class="mb-5">
        <h3>Prenota tramite E-mail</h3>
        <hr>
        <p>Scrivici una mail a <a href="mailto:webmaster@example.com">prenota@ambulatoriobello.it</a></p>
    </section>

    <section>
        <h3>Prenota tramite Telefono</h3>
        <hr>
        <p>Chiamaci al numero <a href="+39 012 345 678">+39 012 345 678</a></p>
    </section>

</div>