<div class="container mt-5">
    <h1>Prenota la tua visita in maniera facile e veloce
    </h1>
    
    <h3>Prenota tramite il Servizio Sanitario Nazionale</h3>
    <hr>
    <p>Compila l'apposito modulo se desideri prenotare una visita o un esame in convenzione con il Sistema Sanitario
        Nazionale. Sarai richiamato in tempi rapidi, con professionalità e competenza al tuo servizio, per concordare il
        giorno e l'orario della visita.</p>
    <button class="btn btn-info text-white" routerLink="/prenotazioni/ssn">Prenota Ora</button>
    
    <h3>Prenota tramite E-mail</h3>
    <hr>
    <p>Scrivici una mail a prenota@ricerchemediche.it</p>
    
    <h3>Prenota tramite Telefono</h3>
    <hr>
    <p>Chiamaci al numero +39 011 9662585</p>
</div>