/* altezza fissa per le immagini nel carousel */
.carousel-item img {
    max-height: 500px;
}

/* zoom-in su bottoni e icone dei servizi al passaggio del mouse */
.servizi  {
    transition: transform .2s;
}
 .servizi:hover {
    transform: scale(1.2);
}